//小说列表单个行
.novellist-item {

  .item-container {
    height: 120px;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;

    .author {
      color: rgba(153, 153, 153, 1.0);
      font-size: 14px;
    }

    .item-img {
      min-width: 100px;
      background-color: cadetblue;
    }

    .item-content {
      padding-left: 4px;
      width: 80%;
      position: relative;

      .title {
        height: 20px;
      }

      .Description {
        overflow: hidden; //超出的文本隐藏
        text-overflow: ellipsis; //溢出用省略号显示
        display: -webkit-box;
        -webkit-box-orient: vertical;
        height: 80px;
        line-height: 20px;
        ;
      }
    }
  }

  .item-simple-container {
    padding: 10px;
    border-bottom: 1px solid rgba(236, 236, 236, 1.0);

    .author {
      color: rgba(153, 153, 153, 1.0);
      font-size: 14px;
    }
  }
}