.list-items {
  padding-top: 10px;
  font-size: 16px;

  .item-container {
    height: 120px;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;

    .author {
      color: rgba(153, 153, 153, 1.0);
      font-size: 14px;
    }

    .item-img {
      min-width: 100px;
      background-color: cadetblue;
    }

    .item-content {
      padding-left: 4px;
      width: 80%;
      position: relative;

      .title {
        height: 20px;
      }

      .Description {
        overflow: hidden; //超出的文本隐藏
        text-overflow: ellipsis; //溢出用省略号显示
        display: -webkit-box;
        -webkit-box-orient: vertical;
        height: 80px;
        line-height: 20px;
        ;
      }
    }
  }

  .list-item {
    border-bottom: 1px solid $boderGrey;
    padding: 10px;

    .author {
      color: $titleGrey;
      font-size: 14px;
    }
  }

  .paging-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .paging-item {
      padding: 6px 16px;
      background-color: $btnBlue;
      color: #fff;
      border-radius: 4px;
    }

    .paging-item2 {
      margin-left: 10px;
    }
  }

  .paging-describe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .paging-item2 {
      margin-left: 10px;
    }
  }
}