//排行
.rank-container {
  .sort-items {
    display: flex;
    padding: 10px;

    .sort-button {
      margin-top: 10px;
      width: 30%;
      height: 40px;
      border: 1px solid rgba(227, 227, 228, 1.0);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2.5%;
    }

    .sort-button.active {
      background-color: rgba(204, 204, 204, 1.0);
    }
  }


}